header
    div.top-container
        h1.web-title: a(href='/') nxtDue
        div.top-navbar(style='color:#213e53;')
            if (!isLogged)
                a(href='/users/join'): button(class='nav-btn', id='joinNow') Join For Free
                a(href='/users/login'): button(class='nav-btn') Login
            else
                if(loggedInUser.user_stature === 'client')
                    //
                        a(href='/account/switch/'+emailEncode(loggedInUser.email))
                            button(class='nav-btn', id='be-freelancer') Be a Freelancer
                    a(href='/account/client/'+emailEncode(loggedInUser.email)): button(class='nav-btn', id='user-account-nameSurname') My Account, #{loggedInUser.name} #{loggedInUser.surname}
                    a(href='/users/logout'): button(class='nav-btn') Logout

                else if(loggedInUser.user_stature === 'freelancer')
                    //
                        a(href='/account/switch/' + emailEncode(loggedInUser.email))
                            button(class='nav-btn', id='be-freelancer') Switch to Client
                    a(href='/account/freelancer/' + emailEncode(loggedInUser.email)): button(class='nav-btn') My Account, #{loggedInUser.name} #{loggedInUser.surname}
                    a(href='/users/logout'): button(class='nav-btn') Logout
                - let loggedinUser_Mssg = {type: loggedInUser.user_stature, uniqueKey: emailEncode(loggedInUser.email)}
                input(style='display: none;' id='sender-unique-key' value=JSON.stringify(loggedinUser_Mssg))




