extends layout

block content
    - let message_content = 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo'
    .client-account
        .client-update-errors
        .client-account-main
            .client-account-left
                .client-profile-details
                    .account-profile-image
                        if !loggedInUser.profile_picture.data
                            .default-profile-image
                                img(src='/images/userDefaultImage.png')
                                p.addProfilePicture + Add Profile Picture
                        else
                            img(src=loggedInUser_imageSrc)
                    p.client-profile-name #{loggedInUser.name +' '+loggedInUser.surname}
                    a#client-page-find-freelancer(href='/'): button Find Freelancers
                .client-profile-information
                    ul
                     li(class='clicked') Bookings
                     li Profile Update
                     li(id=messageIdHTML)
                         p Messages
                         p.newMessageReceived(style='display:none;') new
            .client-account-middle
                .client-current-bookings
                    h3 Client Bookings

                .client-profile-update(style='display:none;')
                    - let updateOption = 'pointer-events: auto';
                    - if(loggedInUser.authentication.authName){updateOption = 'pointer-events: none; background-color: #213e53; color: white; border-color: #213e53; font-weight: bold';};

                    .client-update-form-errors
                    h3 Profile Update
                    form#client-profile-update-form(method='post', autocomplete="off")
                        .client-basic-infos
                            section
                                .basic-infos-one
                                    label(for='client-name') Name: #[br]
                                        input(id='client-name', type='text', placeholder='Enter Name', name='name',
                                            value=loggedInUser.name, required)

                                    label(for='client-surname') Surname: #[br]
                                        input(id='client-surname', type='text', placeholder='Enter Surname',
                                                name='surname', value=loggedInUser.surname, required)
                                .basic-infos-two
                                    label(for='client-phone-number') #[br] Phone Number: #[br]
                                        input(id='client-phone-number', type='tel', placeholder='Enter Phone Number',
                                                name='phone_number', value=
                                            typeof (loggedInUser.phone_number) != 'undefined' ? loggedInUser.phone_number: '')

                                    label(for='client-email') #[br] Email Address: #[br]
                                        input(id = 'client-email', type='email', placeholder = 'Enter Email',
                                            name='email', value= loggedInUser.email, tyle = updateOption, required)

                            section
                                .basic-infos-three
                                    Label Profile Picture
                                    .client-image-update-area
                                        .client-image-uploaded
                                            img(id='client-imagePreview', src=loggedInUser_imageSrc)
                                        .client-image-upload-btn
                                            span
                                                i.fas.fa-cloud-upload-alt
                                                p Upload Image
                                            input#client-profile-picture(type='file',
                                                name='client_profile_picture')
                        .client-password-infos
                            .pasword-infos
                                label(for='old-password') #[br]Old Password #[br]
                                input(id='old-password', type='password', placeholder='Old Password',
                                    name='old_password',style=updateOption, readonly)

                            .pasword-infos
                                label(for='new-password') #[br]New Password #[br]
                                input(id='new-password', type='password', placeholder='New Password',
                                    name='new_password', style=updateOption,
                                    onfocus = "this.removeAttribute('readonly')", readonly)

                            .pasword-infos
                                label(for='confirm-password') #[br]Confirm New Password #[br]
                                input(id='confirm-password', type='password', placeholder='Confirm Password',
                                    name='confirm_password', value='', style=updateOption,
                                    onfocus = "this.removeAttribute('readonly')", readonly)

                        .client-profile-update-options
                            input#clientUpdate(type='submit', value='Save Profile')

                .client-profile-message(style='display:none;')
                    include ./partials/message