extends layout

block content
    - let message_content = 'Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo'

    include partials/form_message

    .client-account
        .client-update-errors
        .client-account-main
            .client-account-left
                .client-profile-details
                    .account-profile-image
                        if !loggedInUser.profile_picture.data
                            .default-profile-image
                                img(src='/images/userDefaultImage.png')
                                p.addProfilePicture + Add Profile Picture
                        else
                            img(src=loggedInUser_imageSrc)
                    p.client-profile-name #{loggedInUser.name +' '+loggedInUser.surname}
                    a#client-page-find-freelancer(href='/'): button Find Freelancers
                .client-profile-information
                    ul
                     li(class='clicked') Bookings
                     li Profile Update
                     li(id=messageIdHTML)
                         p Messages
                         p.newMessageReceived(style='display:none;') new
            .client-account-middle
                .client-current-bookings
                    h3 Client Bookings
                    .client-bookings-header
                        ul
                            li Project Name
                            li Freelancer
                            li Due Date
                            li Progress Status
                            li Options
                    .client-bookings-body
                        if allBookings.length ===0
                            h4#clientBookingEmpty No Bookings
                        else
                            each bookingDetail in allBookings
                                .single-client-booking
                                    .booking-main-details
                                        ul
                                            li #{bookingDetail.service} - #{bookingDetail.projectName}
                                            li #{bookingDetail.supplier.name}
                                            li #{bookingDetail.dueDateTime.toLocaleString()}
                                            li
                                                if(bookingDetail.status === 'booking ongoing')
                                                    button#progressstatus(style='border: .1rem solid #A37A00; background-color: #A37A00')
                                                        | booking ongoing
                                                if(bookingDetail.status === 'awaiting payment')
                                                    button#progressstatus(style='border: .1rem solid #8d2874; background-color: #8d2874')
                                                        | pay now
                                                if(bookingDetail.status === 'awaiting acceptance')
                                                    button#progressstatus(style='border: .1rem solid #213e53; background-color: #213e53')
                                                        | awaiting acceptance
                                                if(bookingDetail.status === 'complete')
                                                    if(bookingDetail.completion.status === 'awaiting confirmation')
                                                        button#progressstatus(style='border: .1rem solid #308634; background-color: #308634')
                                                            | confirm / reject
                                                    if(bookingDetail.completion.status === 'confirmed')
                                                        button#progressstatus(style='border: .1rem solid #308634; background-color: #308634')
                                                            | confirmed
                                                    if(bookingDetail.completion.status === 'awaiting resolution')
                                                        button#progressstatus(style='border: .1rem solid #FF0000; background-color: #FF0000')
                                                            | awaiting resolution
                                                    if(bookingDetail.completion.status === 'freelancer-cancelled')
                                                        button#progressstatus(style='border: .1rem solid #FF0000; background-color: #FF0000')
                                                            | cancelled
                                                    if(bookingDetail.completion.status === 'client-cancelled')
                                                        button#progressstatus(style='border: .1rem solid #FF0000; background-color: #FF0000')
                                                            | you cancelled
                                            li
                                                i.far.fa-trash-alt
                                    .booking-description(style='display: none')
                                        .project-details
                                            div
                                                h4 Creation Date: #{bookingDetail.creationDate.toLocaleString()}
                                                div
                                                    h4 Description:
                                                    p #{bookingDetail.projectDescription}
                                                if bookingDetail.bookingType === 'request_booking'
                                                    h4 Cost: £#{bookingDetail.requestedPrice}
                                                else if bookingDetail.bookingType === 'instant_booking'
                                                    h4 Cost: £#{bookingDetail.price}
                                            div
                                                - let domainName = 'https://www.nxtdue.com'; // 'http://localhost:3000'
                                                if bookingDetail.status !== 'booking ongoing'
                                                    a(href=`${domainName}/payment/create-checkout-session/booking-checkout?bookingID=${bookingDetail.bookingID}`): button Pay
                                                button.delete-booking-bttn Delete
                                        .project-completion-options(style='display: none')
                                            - let freelanceName = bookingDetail.supplier.name
                                            - let serviceName = bookingDetail.service
                                            - let projectName = bookingDetail.projectName
                                            - let dateOfCompletion = bookingDetail.dueDateTime.toLocaleString()
                                            - let clientEmail = loggedInUser.email;
                                            .project-finish-request
                                                div
                                                    p
                                                        | #{freelanceName} has informed us that  #{'"'+serviceName+' - '+projectName+'"'} is
                                                        span  completed
                                                        |. Please use the options below to update us.#[br]
                                                        span (Note: If there is no response after 3 days, the project will
                                                            |  be assumed completed and #{freelanceName} will be paid!)#[br]
                                                    p Date of Completion: #{dateOfCompletion}
                                                .project-finish-update-options
                                                    button#projectCompleted Yes, I confirm
                                                    button#projectIncomplete No, I cannot confirm
                                            .project-reject-request(style='display: none')
                                                div
                                                    p
                                                        | Unfortunately, #{freelanceName} has
                                                        span  cancelled
                                                        |  on #{'"'+serviceName+' - '+projectName+'"'}. Please contact  us directly on
                                                        span  07000000000
                                                        |  or email us on
                                                        span  unilance-management@google.co.uk
                                                        |  for any emergency bookings.
                                            .project-final-messages(style='display: none')
                                                div
                                                    .project-completion-confirmed
                                                        div
                                                            p Thank you for using our services, we woud love to hear your feeback.
                                                                |  Please email us your feeback using
                                                                span  unilance-management@google.co.uk.
                                                    .project-completion-rejected(style='display: none')
                                                        p We are very sorry to hear that. The management team has been informed. Please do check your
                                                            |  #{clientEmail} inbox regularly as you will
                                                            | be contacted soon.
                                                            | You can also contact us on:
                                                            span  unilance-management@google.co.uk
                                    input(type='hidden' name='bookingid' class='singleBookingID'
                                        value=bookingDetail.bookingID)
                .client-profile-update(style='display:none;')
                    - let updateOption = 'pointer-events: auto';
                    - if(loggedInUser.authentication.authName){updateOption = 'pointer-events: none; background-color: #213e53; color: white; border-color: #213e53; font-weight: bold';};

                    .client-update-form-errors
                    h3 Profile Update
                    form#client-profile-update-form(method='post', autocomplete="off")
                        .client-basic-infos
                            section
                                .basic-infos-one
                                    label(for='client-name') Name: #[br]
                                        input(id='client-name', type='text', placeholder='Enter Name', name='name',
                                            value=loggedInUser.name, required)

                                    label(for='client-surname') Surname: #[br]
                                        input(id='client-surname', type='text', placeholder='Enter Surname',
                                                name='surname', value=loggedInUser.surname, required)
                                .basic-infos-two
                                    label(for='client-phone-number') #[br] Phone Number: #[br]
                                        input(id='client-phone-number', type='tel', placeholder='Enter Phone Number',
                                                name='phone_number', value=
                                            typeof (loggedInUser.phone_number) != 'undefined' ? loggedInUser.phone_number: '')

                                    label(for='client-email') #[br] Email Address: #[br]
                                        input(id = 'client-email', type='email', placeholder = 'Enter Email',
                                            name='email', value= loggedInUser.email, tyle = updateOption, required)

                            section
                                .basic-infos-three
                                    Label Profile Picture
                                    .client-image-update-area
                                        .client-image-uploaded
                                            img(id='client-imagePreview', src=loggedInUser_imageSrc)
                                        .client-image-upload-btn
                                            span
                                                i.fas.fa-cloud-upload-alt
                                                p Upload Image
                                            input#client-profile-picture(type='file',
                                                name='client_profile_picture')
                        .client-password-infos
                            .pasword-infos
                                label(for='old-password') #[br]Old Password #[br]
                                input(id='old-password', type='password', placeholder='Old Password',
                                    name='old_password', style=updateOption, readonly)

                            .pasword-infos
                                label(for='new-password') #[br]New Password #[br]
                                input(id='new-password', type='password', placeholder='New Password',
                                    name='new_password', style=updateOption,
                                    onfocus = "this.removeAttribute('readonly')", readonly)

                            .pasword-infos
                                label(for='confirm-password') #[br]Confirm New Password #[br]
                                input(id='confirm-password', type='password', placeholder='Confirm Password',
                                    name='confirm_password', value='', style=updateOption,
                                    onfocus = "this.removeAttribute('readonly')", readonly)

                        .client-profile-update-options
                            input#clientUpdate(type='submit', value='Save Profile')

                .client-profile-message(style='display:none;')
                    include ./partials/message

            .client-account-modal(style='display:none')
                .client-account-modal-content
                    .client-booking-completion
                        .client-booking-completion-confirmation
                            p Do you confirm the completion of your project?
                            section
                                button.client-bookingCompletion-continue Confirm
                                button.client-bookingCompletion-cancel Cancel
                        .client-booking-completion-rejection(style='display:none')
                            p
                                | Are you sure that the work has
                                span(style='font-weight: bolder') #{' '}NOT#{' '}
                                | been completed?#[br]
                                span (Before 'Continue', please check that the work#{' '}
                                    | has not been sent in any of your contacts (e.g. email))
                            section
                                button.client-bookingCompletion-continue Continue
                                button.client-bookingCompletion-cancel Cancel
                        input(type='hidden' name='bookingid' class='singleBookingID')