extends layout

block content
  - let minimumPriceOfService = 10.00;
  include partials/form_message
  .index-page-one
    .index-page-one-left
      h1 Hire Excellent Freelancers around the World
      p
        span Unilance
        |  facilitates the booking of freelancers all over the world. As well as booking freelancers, you can also become a freelancer.
      .booking-buttons
        if(!isLogged)
          a(href='/users/join'): button JOIN US NOW
        else
          button#book-now-btn(class=pageType) BOOK NOW
    .index-page-one-right
      img(src='/images/excellenceFreelancerMaybeFinal.png')
  //
    .index-page-two
      .book-services-steps
        p Browse
        p Find a Freelancer
        p Book Freelance Service
  .index-page-three
    if allFreelancers
      each freelancer in allFreelancers
        - let servicesPrices = freelancer.serviceAndPrice;
        - let areSomePricesBiggerThanMinimum = servicesPrices.some(servicePrice => { return parseInt(servicePrice.price) >= minimumPriceOfService});
        if areSomePricesBiggerThanMinimum
          .single-user-index-details
            .top-side
              - let freelancerUniqueKey = emailEncode(freelancer.email);
              - console.log(freelancerUniqueKey)
              if !freelancer.profile_picture.data
                img(src='/images/userDefaultImage.png')
              else
                - let imageSource;
                if freelancer.profile_picture.name === 'oauth_picture'
                  - imageSource = freelancer.profile_picture.data.toString();
                else
                  - imageSource = "data:image/"+freelancer.profile_picture.contentType+";base64,"+freelancer.profile_picture.data.toString('base64')
                img(src=imageSource)
              section
                span
                  a(href='/account/freelancer/'+emailEncode(freelancer.email)): p #{freelancer.name+' '+freelancer.surname}
            .middle-side
              div
                each service_price in servicesPrices
                  - let price = parseFloat(service_price.price)
                  if price >= minimumPriceOfService
                    .index-serviceAndPrice
                      p #{service_price.service}
                      p #{'£'+price.toFixed(2)}
            .bottom-side
              if (!isLogged)
                button Instant Book
                button Request
              else
                if(loggedInUser.user_stature.current === 'client')
                  button Instant Book
                  button Request
                a(class='freelance-mssg-btn')
                  p Message
                  i.far.fa-envelope
                  input(type='hidden' class='freelancerToMessage-unique-key' value=freelancerUniqueKey)


            input(type='hidden', value=emailEncode(freelancer.email))

    include ./partials/booking_form
  include ./partials/footer